<app-header></app-header>
<div>
  <div class="culinary_img">
    <img src="assets/img/culinary_img.jpg">
  </div>
  <div class="main_text">
    <p>Каждый месяц у нас проходят<br>
      кулинарные мастер-классы</p>
    <button>Посмотреть</button>
  </div>
  <div class="main_container">
    <div class="dishes_nav">
      <ul>
        <li class="dish_link"><a>#супы</a></li>
        <li class="dish_link"><a>#салаты</a></li>
        <li class="dish_link"><a>#выпечка</a></li>
        <li class="dish_link"><a>#закуски</a></li>
        <li class="dish_link"><a>#десерты</a></li>
      </ul>
    </div>
  </div>
</div>
<app-footer></app-footer>
