.header_nav {
  width: 1190px;
}

.user_name h3 {
  color: #9f9384;
}

.user_name {
  margin-top: 2rem;
  text-align: center;
}

.user_page {
  width: 1190px;
  right: 0;
  left: 0;
  margin: 0 auto;
}


.user_list {
  //display: flex;
  //justify-content: space-between;
  //width: 400px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.user_img img {
  width: 500px;
  padding: 4.5rem;
}

