.calories-buttons {
  width: 415px;
  justify-content: space-between;
  display: flex;
}

.form-recipe__el {
  justify-content: space-between;
  width: 350px;
  padding: 2px;

  .radio-el {
    width: 200px;
  }
}

.form-select__el {
  width: 205px;
}
