<div [formGroup]="caloriesForm">
  <!--  <p>Ваш вес:</p><input pInputText formControlName="weight" type="number" #myInput [(ngModel)]="weight" (input)="onInputChanged()"/>-->
  <p>Ваш вес:</p><input pInputText formControlName="weight" type="number" [(ngModel)]="weight">
  <p>Ваш рост:</p><input pInputText formControlName="height" type="number" [(ngModel)]="height"/>
  <p>Ваш возраст:</p><input pInputText formControlName="age" type="number" [(ngModel)]="age"/>
  <p>Какой образ жизни вы ведете:</p>
  <select class="form-select" formControlName="categoryLife" aria-label="Default select example">
    <option selected disabled>Выберите категорию</option>
    <option [value]="item" *ngFor="let item of selectLifeStyle; let i = index">{{item}}</option>
  </select>
  <div>
    <p>Ваша цель:</p>
    <select class="form-select" formControlName="categoryObjective" aria-label="Default select example">
      <option selected disabled>Выберите категорию</option>
      <option [value]="item" *ngFor="let item of selectObjective; let i = index">{{item}}</option>
    </select>

  </div>

</div>

<button class="btn btn-outline-warning" type="submit" (click)="countCalories()" [disabled]="!caloriesForm.valid">
  Рассчитать
</button>
<div *ngIf="isShow">
  <p>Ваша норма</p>
  <p>{{normCalories}} калорий</p>
  <p>ваша норма белков: {{proteins}}</p>
  <p>ваша норма жиров: {{fats}}</p>
  <p>ваша норма углеводов: {{carbohydrates}}</p>
  <button class="btn btn-outline-warning">Сохранить результат</button>
</div>
