@font-face {
  font-family: 'Comic';
  src: url("../../../../assets/fonts/Comic_CAT.ttf");
}

.container_nav {
  width: 1190px;

  .logo {
    font-family: Comic;
    font-size: 30px;
    color: #ff7e00;

  }

  .nav_auth {
    padding: 10px;
  }

  .user {
    width: 50px;

  }

  b {
    padding: 5px;
    font-size: 20px;
    color: #ff7e00;
    font-family: Comic;
  }
}
