.nav_header {
  width: 100%;
  //position: absolute;
  height: 60px;
  background-color: #9f9384;
  //opacity: 0.5;
  //z-index: 2;
}

.nav_auth {
  padding: 10px;
}

.container_nav {
  width: 1190px;
}


